
.main {
  color: whitesmoke;
  background-color: #1c1a19;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #3e3c3c;
}

.me {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 22px;
  width: 80px;
  left: 142px;
}

.initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  width: 350px;
  height: 120px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 58px;
  line-height: 70px;
  margin-left: 1rem;
  color: #f55800;
}

h2 {
  margin-left: 1rem;
  width: 350px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  bottom: 40px;
}

p {
  margin-left: 1rem;
  width: 566px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f4f5f7;
  position: relative;
  bottom: 42px;
}

ul {
  width: 49%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-left: -1.5rem;
}

.icons {
  position: relative;
  bottom: 62px;
  left: 17px;
}

.vec {
  height: 20px;
  width: 20px;
  right: auto;
  top: 16px;
  border-radius: 0;
  padding: 10px 12px 10px 12px;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.bg {
  flex-direction: column;
  position: absolute;
}

#back {
  position: relative;
  bottom: 100px;
  right: 100px;
  height: 298.3157177564727px;
  width: 300.5108468215952px;
  left: 900.43310546875px;
  top: -10px;
  border-radius: 0;
}
